<div class="w3-white w3-border-bottom w3-xlarge" style="z-index: 1;">
  <a routerLink="/home" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa fa-map-marker w3-margin-right"></i>Travel</b></a>
  <a routerLink="/home" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
  <a routerLink="/signup" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey">Sign Up</a>
  <a routerLink="/login" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey">Login</a>
</div>
<router-outlet></router-outlet>