<div class="container">


    <div class="background-white border border-grey-1 padding-30px margin-tb-30px">
                            <h3 class="text-uppercase text-medium font-weight-700 border-bottom-1 border-second-color  padding-bottom-8px"><i class="fa fa-check-circle-o text-lime"></i> Booking is complete</h3>
    
                            <ul class="margin-0px padding-0px list-unstyled">
                                <li class="padding-tb-8px border-bottom-1 border-grey-1"><strong class="margin-right-30px">Car Name:</strong>Adel New Hotel</li>
                                <li class="padding-tb-8px border-bottom-1 border-grey-1"><strong class="margin-right-30px">CAR Number:</strong>GJ-05-CP-4568</li>
                                <li class="padding-tb-8px border-bottom-1 border-grey-1"><strong class="margin-right-30px">Your Name:</strong>user1</li>
                                <li class="padding-tb-8px border-bottom-1 border-grey-1"><strong class="margin-right-30px">Your email:</strong>user1@gamil.com</li>
                                <li class="padding-tb-8px border-bottom-1 border-grey-1"><strong class="margin-right-30px">Your address:</strong>user1's home</li>
                                <li class="padding-tb-8px"><strong class="margin-right-30px">The description</strong>
                                    <i class="d-block padding-tb-8px text-grey-2 ">The car we drive tell lot about us
                                        </i>
                                </li>
                            </ul>
                            <div class="margin-top-15px">
                                <a routerLink="/home" class="btn btn-info" style="margin-right:10px">GO HOME</a>
                                <a routerLink="#" class="btn btn-primary">PRINT PAGE</a>
                            </div>
                        </div>
    
    </div>