<div class="limiter" style="background-image: url(assets/ocean2.jpg); background-repeat: no-repeat; background-size: cover;">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(assets/mountains2.jpg);">
					<span class="login100-form-title-1">
						Login
					</span>
				</div>

				<form class="login100-form" (submit)="onSubmit($event)">
					<div class="wrap-input100 m-b-26">
						<span class="label-input100">Username</span>
						  <input class="input100" type="text" name="username" id="username" placeholder="Enter username" required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-18">
						<span class="label-input100">Password</span>
						 <input class="input100" type="password" name="pass" id="password" placeholder="Enter password" required>
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							  <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							  <label class="label-checkbox100" for="ckb1">
								  Remember me
							  </label>
						</div>

						<div>
							<a routerLink="/signup" class="txt1">
								New User?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>
					<h3>{{msg}}</h3>
				</form>
			</div>
		</div>
	</div>